body {
    background-color: #f1f3f4;
}

/* ----------------------------- NAV BAR ----------------------------- */
.top-nav-bar {
    height: 70px;
    position: sticky;
    top:0;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 4px solid orange;
}

.logo {
    height: 75px;
    margin: -5px 10px;
    cursor: pointer;
}

.form-control {
    margin-top: 15px;
    margin-left: 60px;
    border: 1px solid gray !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid orange !important;
}

.input-group-text {
    background: orange;
    border: 1px solid orange;
    margin: 15px 10px 0 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.input-group-text:hover {
    color: #fff;
}

.search-box {
    display: inline-flex;
    height: 50px;
    width: 45%;
}

.menu-bar {
    width: 55%;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float:right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 21px 30px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu-bar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu-bar ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.fa-shopping-basket {
    margin-right: 5px;
}

.fa-heart {
    color: red;
    margin-right: 5px;
}
/* ----------------------------- END OF NAV BAR ----------------------------- */


/* ----------------------------- SIDE MENU ----------------------------- */
.side-menu {
    height: 75%;
    width: 16%;
    font-size: 16px;
    float: left;
    background-color: #ddd;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover {
    color: orange;
}

.side-menu ul li ul {
    display: none;
    top: 91px;
}

.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 13%;
    padding: 0 100px 10px 10px;
    position: fixed;
    font-size: 14px;
    background: #ececec;
    box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.fa-angle-right {
    float: right;
    margin-top: 6px;
    margin-right: 25px;
}

#hamburger {
    font-size: 30px;
    margin: 15px;
    color:orange;
    display: none;
    cursor: pointer;
}

/* ----------------------------- END OF SIDE MENU ----------------------------- */

/* ----------------------------- MEDIA QUERY FOR SMALL DEVICES ----------------------------- */
@media only screen and (max-width: 980px) {
    /* Media query for the nav bar */
    .top-nav-bar {
        height: 140px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 18px;
        width: 100%;
    }

    .menu-bar ul li {
        height: 70px;
        width: 100%;
    }

    .logo {
        height: 60px;
        margin: 0 10px;
    }

    /* Media query for the side menu */
    .side-menu {
        width: 25%;
        font-size: 13px;
        display: none;
    }

    .side-menu.show {
        display: block;
    }

    .side-menu ul li ul {
        top: 161px;
    }

    .side-menu ul li:hover ul {
        margin-left: 15%;
    }

    .fa-angle-right {
        margin-top: 5px;
        margin-right: 10px;
    }

    #hamburger {
        display: block;
    }
} 