<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Units in stock</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>
                <img src="{{product.imageUrl}}" height="70px">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.unitPrice | currency: 'EUR'}}</td>
            <td>{{product.unitsInStock}}</td>
            <td>{{product.active}}</td>
        </tr>
    </tbody>
</table>
